<table class="measurement-summary">
  <thead>
    <tr><th></th><th>minimum</th><th>average</th><th>maximum</th><th></th></tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr><th{{#if title}} title="{{title}}"{{/if}}>{{heading}}</th><td>{{min}}</td><td>{{avg}}</td><td>{{max}}</td><td>{{units}}</td></tr>
    {{/each}}
  </tbody>
</table>
