<div id="d{{id}}" class="progress">
  <label for="p{{id}}">importing <span class="filename">{{filename}}</span></label>
  <progress id="p{{id}}" max="{{max}}" value="{{value}}">{{percent}}%</progress>
  <span class="percent">{{percent}}%</span>
</div>
