<section id="data-summary">
  <p><strong>total measurements</strong>: {{count}}</p>
  <p><strong>temporal range</strong>: {{> time temporal.min}} – {{> time temporal.max}}</p>
  <p><strong>spatial range</strong>: ({{spatial.min.latitude}}, {{spatial.min.longitude}}) – ({{spatial.max.latitude}}, {{spatial.max.longitude}}); average: ({{spatial.avg.latitude}}, {{spatial.avg.longitude}})</p>
  <table>
    <thead>
      <tr><th></th><th>minimum</th><th>average</th><th>maximum</th><th></th></tr>
    </thead>
    <tbody>
      <tr><th>NO₂</th><td>{{no2.min}}</td><td>{{no2.avg}}</td><td>{{no2.max}}</td><td>ppb</td></tr>
      <tr><th>VOC</th><td>{{voc.min}}</td><td>{{voc.avg}}</td><td>{{voc.max}}</td><td>ppb</td></tr>
      <tr><th>pm10</th><td>{{pm10.min}}</td><td>{{pm10.avg}}</td><td>{{pm10.max}}</td><td>μg/m³</td></tr>
      <tr><th>pm2.5</th><td>{{pm25.min}}</td><td>{{pm25.avg}}</td><td>{{pm25.max}}</td><td>μg/m³</td></tr>
      <tr><th>pm1</th><td>{{pm1.min}}</td><td>{{pm1.avg}}</td><td>{{pm1.max}}</td><td>μg/m³</td></tr>
    </tbody>
  </table>

  <div id="map" data-token="{{map.token}}" data-latitude="{{spatial.avg.latitude}}" data-longitude="{{spatial.avg.longitude}}" data-zoom="{{map.zoom}}"></div>
</section>
